// helpers
@import 'helpers/reset'
@import 'helpers/mixins'


// common
@import 'common/sprite'
@import 'common/variables'
@import 'common/base'

// blocks
@import 'blocks/wrapper'
@import 'blocks/header'
@import 'blocks/section'
@import 'blocks/footer'
@import 'blocks/elements'
@import 'blocks/header--description'
@import 'blocks/payment_methods'
@import 'blocks/financial_opportunities'
@import 'blocks/payeer_statistics'
@import 'blocks/merchant'
@import 'blocks/mass_payments'
@import 'blocks/platinum'
@import 'blocks/payeer_politics'
@import 'blocks/privacy_policy'
@import 'blocks/bussiness'
@import 'blocks/our_contacts'
@import 'blocks/merchant_list'
@import 'blocks/connect_web'
@import 'blocks/hosting'
