.-connect_web
  background #f4f8f9
  padding 50px 0
  box-shadow inset 0 0 40px 0 #cfe9f5 

.total_number
  position relative

.number
  font-size 100px
  line-height 24px
  color $blue
  display inline-block
  position absolute
  top 30px

.number--text
  font-family 'FuturaNew'
  font-size 34px
  line-height 43px
  display inline-block
  padding-left 312px
  width 412px
  vertical-align top

.btn-connect
  display inline-block
  padding-left 100px
  position relative
  top 15px
