.-financial_opportunities
  text-align center
  margin 0 30px

 .financial--header
   padding 55px 0 20px
   font-weight 400
   font-size 24px
   line-height 11px

 .financial--description
   font-family 'Open Sans'
   font-size 18px
   line-height 28px
   font-weight 300
   width 915px
   margin 0 auto

 .payment_list
   font-size 0
   position relative
   margin 50px auto 0

   li
     display inline-block
     width calc(100% /7)
     position relative
     text-align center
     height 60px
     cursor pointer
     padding 20px 0

     &:first-child
       margin-left 0

     &:last-child
       margin-right 0

 .payment_list--description
   background $blue
   font-size 16px
   color #fff
   padding 15px 20px
   box-shadow 10px 0 20px #68bfd5
   position absolute
   opacity 0
   transform translate(0, -50px)
   transition all 0.3s
   borderbox()
   clearfix()

   &:hover
     opacity 0.95
     transform translate(0, -80px)

   h3
     padding-bottom 20px
     text-align center

   p
     display inline-block
     font-size 26px
     margin 0 10px

     span
       color #0d6386
       display block
       font-size 16px
       padding-top 10px
       font-weight 500

 .purse-btns
   padding 30px 0 10px
