.header--description
  width 960px
  text-align center
  margin 70px auto
  color #fff

.header--explain
  font-size 26px
  line-height 32px
  padding 28px 0

.free
  font-size 17px
  line-height 22px
  color #e6eb5b
  padding-top 11px
  font-style italic
  font-weight 300
  position relative
  left -110px

  &:before
    display block
    content ''
    background url('../images/content/arrow.png')
    width 25px
    height 49px
    position absolute
    left 350px
    bottom 10px

.payeer_help
  width 600px
  color #fff
  padding-top 60px

.-bussiness_help
    padding-top 170px

.open-btns
  padding 20px 0
