.-mass_payments
  background #f3f8f9
  position relative

  .payment_methods
  	padding 100px 70px

  .swift-ico
  	height 66px
  	width 66px

  .master-ico
    height 54px
    width 90px
    padding-top 6px

  .visa-ico
  	height 26px
  	width 86px
  	padding 0 14px 13px 0

  .payments--logo
    height 70px
    padding-top 60px
