.-merchant
	position relative

	.purse_possibilities
		margin 10px 70px

	.purse_pos-list

		li
			width calc(100% /3 - 72px)
			margin 24px 36px
			borderbox()

			&:nth-child(3n + 1)
				margin-left 0

			&:nth-child(3n)
				margin-right 0

			img
				vertical-align middle

			.credit_cards--icons
				width 100%
				overflow hidden
				white-space nowrap
				min-height 50px

		.credit_cards
			img
				margin-right 24px

		.paying_systems
			img
				width 40px
				height 40px
				margin-right 4px

		.banking_systems
			img
				margin-right 18px

		.cash
			img
				margin-right 18px

		.pay_world-ico
			width 50px
			height 50px
