.-platinum
	position relative

	h1
		width 640px

	.payeer_rates
		padding 0 70px

	.percent
		font-weight 300
		color $blue
		font-size 100px
		line-height 25px
		padding 70px 0 40px

.list-item
	position relative
	padding-left 13px

	&:before
		display inline-block
		content ''
		width 4px
		height 4px
		border-radius 50%
		background #000
		position absolute
		left 0
		top 14px
