.-privacy_policy
  width 100%
  background #fff
  position relative

  h1
    padding 60px 0 10px

  .-privacy--header
    padding 21px 0 10px

.privacy--description
  font-family 'Myriad Pro'
  font-weight 400
  font-size 19px
  line-height 24px
  padding 44px 0 20px
  width 500px
  margin 0 auto
  text-align center

.privacy--list
  display inline-block
  padding 25px 0 0
  font-weight 500
  font-size 13px
  letter-spacing 1px
  line-height 26px

  a
    color $blue
    opacity 0.75

    &:hover
      opacity 1

  .link
    position relative
    padding-left 10px

    &:before
      display inline-block
      content ''
      width 4px
      height 4px
      border-radius 50%
      background $blue
      position absolute
      left 0
      top 6px

.link
  color $blue
  opacity 0.75

  &:hover
    opacity 1

ol
  list-style decimal
  margin 0 20px

  li
    padding 6px 0
