.section
  padding 40px 0

  h2
    font-weight 500
    font-size 14px
    text-transform uppercase
    color #052332
    line-height 22px
    text-align center
    letter-spacing 2px

    a
      color $blue
      opacity 0.75

      &:hover
        opacity 1

    &:after
      content ''
      display block
      width 44px
      height 1px
      background #24c10a
      margin 12px auto 0

  .payeer--info
    display inline-block
    padding 70px 40px 50px 70px
    width 620px
    position relative

  .strong-header
    font-weight 500

    span
      color #d9d9d9

  .info--header
    padding 30px 0 10px
    font-weight 500
    font-size 24px
    line-height 26px

  .payeer--description
    font-family 'Open Sans'
    font-weight 300
    font-size 18px
    line-height 30px
    padding 6px 0

  .-strong
    font-weight 600

  .payeer--explain
    font-family 'Open Sans'
    font-size 14px
    font-weight 300
    line-height 24px

  .btns
    margin 40px 0

    &:after
      display block
      content ''
      height 1px
      width 540px
      background #ccd9e1
      margin-top 80px

.payeer--img
  position absolute
  left 640px
  overflow-x hidden
  width calc(100% - 640px)

.payeer--list
  font-size 0

  .li
    display inline-block
    borderbox()
    vertical-align top
    width calc(100% /3)

.legal_protection
  font-size 20px

.b
  color $blue
